<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <section>
        <header></header>
    </section> 
    <main>
        <section>
            <article>
                <h1>Welcome to Dep-Tech Solutions</h1> 
                <p>The home of software solutions in Liberia.</p>
            </article>
        </section>

    </main> 
    <footer>
    </footer>
</body>
</html>